.t-select-info {
    &__unselected {
        color: #1aa4c8;
        &:active {
            transform: scale(0.9);
        }
    }
    &__delete {
        color: red;
        border: 1px solid red;
        padding: 5px 10px;

        &:hover {
            color: white;
            background-color: salmon;
            border: 1px solid salmon;
        }

        &:active {
            color: white;
            transform: scale(0.9);
        }

        &:focus {
            color: white;
            background-color: salmon;
            border: 1px solid salmon;
            box-shadow: 1px 1px 2px 1px #a09e9e;
            outline: none;
        }
    }
}
