$border: 1px solid #e5e5e5;
$background-color: #dff2ff;

.asset-transfer-popup-detail {
    .body {
        border-top: $border;
        border-bottom: $border;
        background-color: $background-color;
        max-height: 100%;
    }

    .general {
        background-color: #fff;
        transition: height 0.3s linear 0.5s;
        .wrapper {
            grid-template-columns: repeat(3, 1fr) 2fr;
        }
    }
    .detail {
        flex: 1;
        max-height: calc(100% - 237.2px);
        min-height: calc(100% - 355.2px);
        background-color: #fff;
    }

    .search {
        @include backgroundImage(-243px -23px, 18px, 18px);
    }

    .delete {
        @include backgroundImage(-463px -111px, 18px, 18px);
    }

    .add {
        @include backgroundImage(-419px -419px, 18px, 18px);
    }
}
