
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/DesignTimeBuild/.dtbcache.v2
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/FileContentIndex/40e1ec72-c24d-4eeb-955c-4f341d3363d4.vsidx
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/FileContentIndex/496b4e8b-8b0e-41f6-9f90-6c65c7b40d24.vsidx
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/FileContentIndex/cf9f6dc5-550c-4f77-90d6-288404723abd.vsidx
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/v17/.suo
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.API.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/MSIA.WebFresher052023.API.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/MSIA.WebFresher052023.API.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/ref/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/refint/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.csproj.CoreCompileInputs.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/MSIA.WebFresher052023.Application.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/ref/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/refint/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.Tests.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.Tests.csproj.CoreCompileInputs.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.csproj.CoreCompileInputs.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/ref/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/refint/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/ref/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/refint/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/DesignTimeBuild/.dtbcache.v2
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/FileContentIndex/cf9f6dc5-550c-4f77-90d6-288404723abd.vsidx
MF1627_LDTuan/BE/MSIA.WebFresher052023/.vs/MSIA.WebFresher052023/v17/.suo
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.API.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/MSIA.WebFresher052023.API.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/MSIA.WebFresher052023.API.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/ref/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.API/obj/Debug/net6.0/refint/MSIA.WebFresher052023.API.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.csproj.CoreCompileInputs.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Application.Tests.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/MSIA.WebFresher052023.Application.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/MSIA.WebFresher052023.Application.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/ref/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Application/obj/Debug/net6.0/refint/MSIA.WebFresher052023.Application.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.Tests.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain.Tests/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.Tests.csproj.CoreCompileInputs.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.csproj.CoreCompileInputs.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/ref/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Domain/obj/Debug/net6.0/refint/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Domain.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/bin/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.csproj.AssemblyReference.cache
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/MSIA.WebFresher052023.Infrastructure.pdb
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/ref/MSIA.WebFresher052023.Infrastructure.dll
MF1627_LDTuan/BE/MSIA.WebFresher052023/MSIA.WebFresher052023.Infrastructure/obj/Debug/net6.0/refint/MSIA.WebFresher052023.Infrastructure.dll
