.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.page-header{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 0 0;
}

.page-header-left{
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.header-left-search{
    display: flex;
    align-items: center;
    height: 36px;
    width: 180px;
    background-color: var(--white-color);
    column-gap: 8px;
    border: 1px solid var(--border-color-default);
}

.search-icon-container{
    padding-left: 11px;
}

.header-left-search:has(input:focus){
    border-color: var(--border-color-primary);
}

.header-left-search input{
    border: none;
    outline: none;
    width: 130px;
}

.header-left-search:hover{
    border-color: var(--border-color-primary);
}

.header-left-search input::placeholder{
    font-style: italic;
    font-weight: 200;
    color: #a8a2a2;
    font-size: 12px;
}

.header-left-combo-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 273px;
    border: 1px solid var(--border-color-default);
    cursor: pointer;
}

.header-left-combo-box:focus-within {
    border-color: var(--color-primary);
}

.combo-box-left{
    display: flex;
    align-items: center;
}

.combo-box-left span{
    font-size: 12px;
}

.filter-icon-container{
    padding: 6px 12px 6px 8px;
}

.page-header-right{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.chevd-icon-container{
    padding: 15px 12px 15px 0;
}

.header-right-button{
    background-color: var(--color-primary);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .16);
    width: 110px;
    height: 36px;
    overflow: hidden;
    color: var(--white-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.plus-icon-container{
    padding-right: 2px;
    padding-bottom: 2px;
}

.header-right-icon-container{
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .16);
    width: 36px;
    height: 36px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.page-content{
    flex: 1;
    border-radius: 3.5px;
    border: 1px solid #afafaf;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    overflow: hidden;
}