.t-tooltip {
    display: none;
    background-color: var(--background-active);
    width: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 999;
}

.t-tooltip--bottom {
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 70px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 999;
}

.t-tooltip--right {
    min-width: 100px;
    right: 0;
    top: 50%;
    transform: translate(calc(100% + 5px), -50%);
}
.t-tooltip--top {
    min-width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.t-tooltip__content {
    font-size: 1.2rem;
    color: black;
}

.t-tooltip__wrapper {
    text-align: center;
    line-height: 20px;
    font-size: 1.6rem;
    height: 20px;
    word-break: break-all;
    word-wrap: normal;
    padding: 0 5px;
}

.t-tooltip--bottom .t-tooltip__wrapper::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--background-active) transparent;
    border-style: solid;
    border-width: 5px 5px;
}
.t-tooltip--right .t-tooltip__wrapper::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent var(--background-active) transparent transparent;
    border-style: solid;
    border-width: 5px 5px;
}
