// Variables
$outline--focus: 3.5px solid #d1edf4;
$box-shadow: 0 2px 6px #caccce;

// Button Main
$text-color-main: #fff;

$background-color-main: #1aa4c8;
$background-color-main--hover: #0582a2;
$background-color-main--active: #28b7dc;
$background-color-main--focus: #1aa4c8;
$background-color-main--disable: #8cd1e3;

// Button Sub
$background-color-sub: #fff;
$background-color-sub--hover: #d1edf4;
$background-color-sub--active: #fff;
$background-color-sub--focus: #fff;
$background-color-sub--disable: #fff;

$text-color-sub: #1aa4c8;
$text-color-sub--disable: #8cd1e3;

$border-sub: 1px solid #1aa4c8 !important;
$border-sub--disable: 1px solid #8bd1e3 !important;

// Button Outline
$background-color-outline: #fff;
$background-color-outline--hover: #1aa4c8;
$background-color-outline--active: #1aa4c8;
$background-color-outline--focus: #1aa4c8;
$background-color-outline--disable: #f5f5f5;

$text-color-outline: #000000;
$text-color-outline--hover: #fff;
$text-color-outline--active: #fff;
$text-color-outline--focus: #fff;
$text-color-outline--disable: #7a7a7a;

$border-outline: 1px solid #afafaf;
$border-outline-disable: 1px solid #d2d2d2;

// Button Icon
$border-icon: 1px solid #d2d2d2;
$background-color-icon: #fff;
$background-color-icon--hover: #ebecec;
$background-color-icon--active: #ebecec;
$background-color-icon--focus: #ebecec;
$outline-icon--focus: 3.5px solid #eff4f4;

$box-shadow-icon--hover: 1px 2px 4px 1px #a09e9e;

.t-button {
    // Defaults
    width: fit-content;
    height: 36px;
    border: none;
    outline: none;
    // box-shadow: $box-shadow;
    &__title {
        font-weight: 500;
        // Disable copy
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none;
    }
    &.disable {
        pointer-events: none;
    }

    // Button main
    &-main {
        // Default
        &__title {
            color: $text-color-main;
        }
        background-color: $background-color-main;

        // Hover
        &:hover {
            background-color: $background-color-main--hover;
        }
        // Active
        &:active {
            background-color: $background-color-main--active;
            transform: scale(0.9);
        }
        // Focus
        &:focus {
            background-color: $background-color-main--focus;
            outline: $outline--focus;
        }

        &.disable {
            background-color: $background-color-main--disable;
        }
    }

    // Button Sub
    &-sub {
        // Default
        border: $border-sub;
        &__title {
            color: $text-color-sub;
        }

        background-color: $background-color-sub;

        // Hover
        &:hover {
            background-color: $background-color-sub--hover;
        }
        // Active
        &:active {
            background-color: $background-color-sub--active;
            transform: scale(0.9);
        }
        // Focus
        &:focus {
            background-color: $background-color-sub--focus;
            outline: $outline--focus;
        }
    }

    // Button Outline
    &-outline {
        // Default
        background-color: $background-color-outline;
        border: $border-outline;
        &__title {
            color: $text-color-outline;
        }

        // Hover
        &:hover {
            border: none;
            background-color: $background-color-outline--hover;
        }

        // Active
        &:active {
            border: none;
            background-color: $background-color-outline--active;
            transform: scale(0.9);
        }

        // Focus
        &:focus {
            border: none;
            background-color: $background-color-outline--hover;
            outline: $outline--focus;
        }

        &:focus,
        &:active,
        &:hover {
            p {
                color: $text-color-outline--focus;
            }
        }
    }

    // Button Icon
    &-icon {
        // Default
        // border: $border-icon;
        background-color: $background-color-icon;
        &__icon {
            margin: auto;
        }

        // Hover
        &:hover {
            // background-color: $background-color-icon--hover;
            box-shadow: $box-shadow-icon--hover;
        }

        // Active
        &:active {
            // background-color: $background-color-icon--hover;
            transform: scale(0.9);
            z-index: 99999;
        }

        // Focus
        &:focus {
            // outline: $outline-icon--focus;
            // background-color: $background-color-icon--hover;
            box-shadow: $box-shadow-icon--hover;
        }

        &.disable {
            opacity: 0.4;
            box-shadow: none;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}
