.t-toast {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.432);
    width: 450px;
    padding: 30px;
    row-gap: 30px;
}

.t-toast_success {
    width: 300px;
}

.t-toast__footer {
    text-align: right;
    justify-content: right;
    column-gap: 16px;
}
.t-toast__content {
    column-gap: 30px;
}

.t-toast__content_success {
    height: 15px;
}

.t-toast--icon-warning {
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1;
}
.warning {
    background-position: -416px -66px;
    width: 24px;
    height: 20px;
    transform: scale(1.5);
}

.t-toast--icon-success {
    background-color: #1ac871;
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 5px #baeed4;
}

.success {
    background-position: -71px -512px;
    width: 11px;
    height: 8px;
}

.error {
    background-position: -71px -512px;
    width: 11px;
    height: 8px;
}

.t-toast--icon-error {
    background-color: #ff0000;
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 5px #f5b8b8;
}

.t-toast--title {
    font-size: 1.4rem;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 1.5;
}

.bold {
    font-weight: 700;
}
