.t-tooltip {
    display: none;
    background-color: var(--background-sidebar);
    width: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 99999;
    padding-top: 8px;
    padding-bottom: 8px;
}

.t-tooltip--bottom {
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 70px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 99999;
}

.t-tooltip--right {
    min-width: 100px;
    right: -6px;
    top: 50%;
    transform: translate(calc(100% + 5px), -50%);
    z-index: 99999;
}
.t-tooltip--top {
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -150%);
    z-index: 99999;
}

.t-tooltip__content {
    font-size: 1.2rem;
    color: #fff;
}

.t-tooltip__wrapper {
    text-align: center;
    line-height: 20px;
    font-size: 1.6rem;
    height: 20px;
    word-break: break-all;
    word-wrap: normal;
    padding: 0 5px;
}

.t-tooltip--bottom .t-tooltip__wrapper::before {
    content: '';
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--background-sidebar) transparent;
    border-style: solid;
    border-width: 5px 5px;
}
.t-tooltip--right .t-tooltip__wrapper::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent var(--background-sidebar) transparent transparent;
    border-style: solid;
    border-width: 5px 5px;
}

.t-tooltip--top .t-tooltip__wrapper::before {
    content: '';
    position: absolute;
    bottom: calc(-100% + 8px);
    left: 50%;
    transform: translate(50%, 50%);
    border-color: var(--background-sidebar) transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px;
}
