.combobox__select--list {
    background-color: var(--white);
    top: 40px;
    padding: 8px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 9999;
    max-height: 90px;
}

.combobox__select--list::-webkit-scrollbar {
    width: 3px;
}
.combobox__select--list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 25px;
}
.combobox__select--list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 25px;
}

.combobox__select--item {
    height: 36px;
    width: 100%;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 4px;
    padding-left: 8px;
    cursor: pointer;
    scroll-snap-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.combobox__select--item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.combobox__select--item .check {
    background-position: -160px -424px;
    width: 10px;
    height: 8px;
}

.combobox__select--item:focus {
    background-color: var(--background-active);
}
.combobox__select--item.active {
    background-color: var(--background-active);
}

.t-combobox-placeholder::placeholder {
    font-size: 1.2rem;
    font-style: italic;
}
.t-combobox__icon--right {
    padding-left: 40px;
}
.t-combobox__icon--left {
    padding-right: 40px;
}

.t-combobox .left:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.close {
    background-position: -336px -248px;
    width: 8px;
    height: 8px;
}

.t-combobox .icon-down:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}
