.t-checkbox {
    width: 14px;
    height: 14px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    appearance: none;
    border: 1px solid var(--border);
}

.t-checkbox:hover {
    box-shadow: 0 0 0 5px #d6f1f9;
}

.t-checkbox .t-checkbox:checked {
    border: unset;
    outline: none;
}

.t-checkbox:checked::after {
    content: '';
    display: block;
    background: url(/icon/qlts-icon.png) no-repeat -157px -377px;
    width: 18px;
    height: 14px;
    border-radius: 4px;
}
