.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

/*-------------------------Border--------------------*/

.br-4 {
    border-radius: 4px;
}

.br-8 {
    border-radius: 8px;
}

/*-------------------------Margin--------------------*/

.mg-l-4{
    margin-left: 4px;
}

/*-------------------------Flex--------------------*/
.flex-column {
    display: flex;
    flex-direction: column;
}

.center-y {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------Blur--------------------*/

.blur {
    width: 100%;
    height: 100%;
    background-color: #00000029;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}