$background-color--white: #fff;
$background-color--read-only: #f5f5f5;
$background-color-icon--hover: #e0e0e0;
$border--focus: 1px solid #1aa4c8;
$border--invalid: 1px solid #ff0000;
$border: 1px solid #afafaf;
$color-requried: #ff0000;

.t-input {
    &__label {
        .required {
            color: $color-requried;
        }
    }
    background-color: $background-color--white;

    &__wrap {
        border: $border;
        // background-color: $background-color--white;

        .icon-left:hover,
        .icon-right:hover {
            background-color: $background-color-icon--hover;
        }
        .input {
            flex: 1;
            background-color: inherit;

            &:read-only {
                cursor: not-allowed;
            }
        }

        .input.placeholder--italic::placeholder {
            font-style: italic;
        }

        &:has(.input:focus),
        &:has(.input:active) {
            border: $border--focus;
        }
        &:has(.input.invalid) {
            border: $border--invalid;
        }

        &:has(.input:read-only) {
            cursor: not-allowed;
            border: $border;
            background-color: $background-color--read-only;
        }
    }

    .chevron-up {
        @include backgroundImage(-28px -338px, 8px, 5px);
    }
    .chevron-down {
        @include backgroundImage(-72px -338px, 8px, 5px);
    }
}
