$border: 1px solid #afafaf;
$border--focus: 1px solid #1aa4c8;
$outline--focus: 3.5px solid #d1edf4;
$background-color: #fff;
$box-shadow: 0 2px 6px #172734;

.t-dropdown {
    width: fit-content;
    background-color: $background-color;
    border: $border;

    input {
        padding-right: 2px;
        font-size: 1.2rem;
    }

    &__wrap-icon {
        .chevron-down {
            @include backgroundImage(-158px -249px, 12px, 7px);
        }
    }
    &:focus {
        border: $border--focus;
        outline: $outline--focus;
    }

    &__list {
        left: 0;
        &--bottom {
            top: calc(100% + 4px);
            animation: showListBottom 0.3s ease-in-out 1 forwards;
        }
        &--top {
            top: -94px;
            animation: showListTop 0.3s ease-in-out 1 forwards;
        }

        height: 90px;
        padding: 2px;
        padding-right: unset;
        overflow-y: auto;
        box-shadow: $box-shadow;
        background-color: $background-color;

        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #caccce;
        }
        .t-dropdown__item {
            height: 15px;
            padding: 10px;

            &--hover {
                background-color: #d1edf4;
            }
        }
    }
}
