$outline--focus: 3.5px solid #d1edf4;

.t-checkbox {
    transition: all 0.1s ease-out;
    @include backgroundImage(-113px -377px, 14px, 14px);
    object-fit: cover;
    &:hover,
    &:focus {
        outline: $outline--focus;
        border: none;
    }
}

.t-checkbox--checked {
    @include backgroundImage(-157px -377px, 14px, 14px);
}
