$background-color-header: #f5f5f5;
$background-color-body: #fff;
$background-color-footer: #f5f5f5;
$background-color--hover: #d1edf4;
$background-color--active: #b3eaf9;
$border: 1px solid #e9e9e9;
// $box-shadow: 0 0 0 0px #ed1f1f inset;

$box-shadow: 0 2px 6px #caccce;

.t-table-column {
    min-height: 100%;
    max-height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    &__header {
        background-color: $background-color-header;
        // box-shadow: $box-shadow;
        position: sticky;
        top: 0;

        flex: 0 0 40px;
    }

    &__footer {
        background-color: $background-color-footer;
        position: sticky;
        bottom: 0;
        flex: 0 0 40px;
    }

    &__body {
        height: calc(100% - 80px);
        max-height: calc(100% - 80px);
        min-height: calc(100% - 80px);
        background-color: $background-color-body;
        & > .wrapper {
            height: 100%;
            max-height: 100%;
            min-height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0;
            }
            &.scroll::-webkit-scrollbar {
                width: 7px;
                background-color: #d4d4d4;
                border-radius: 50px;
            }
            &.scroll::-webkit-scrollbar-thumb {
                background-color: #818181;
                border-radius: 50px;
            }
        }
    }

    &__cell {
        border-bottom: $border;

        &.hover {
            background-color: $background-color--hover;
        }
        &.active {
            background-color: $background-color--active;
        }

        &.readonly {
            cursor: not-allowed;
        }
        &.show-only {
            cursor: unset !important;
        }
    }

    &.fixed-left {
        // box-shadow: $box-shadow;
        position: sticky;
        left: 0;
        z-index: 1;
    }

    &.fixed-right {
        // box-shadow: $box-shadow;
        position: sticky;
        right: 0;
        z-index: 1;
    }

    &.border:not(:last-child) > &__header,
    &.border:not(:last-child) > &__body &__cell,
    &.border:not(:last-child) > &__footer {
        border-right: $border;
    }

    .skeleton {
        display: inline-block;
        height: 14px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #e4e3e3f5;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(
                90deg,
                #f5f5f533 10%,
                #f5f5f566 20%,
                #f5f5f599 60%,
                #f5f5f533 90%
            ) !important;
            animation: shimmer 2s infinite;
            content: '';
        }
    }
}

.without-footer {
    .t-table-column__body {
        min-height: calc(100% - 40px);
        max-height: calc(100% - 40px);
    }
}
