.btn{
    display: inline-flex;
    justify-content: center;
    min-width: 80px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--white-color);
}

.btn-primary:hover{
    background-color: #3aabc7;
}