/*==================== General ====================*/
.input--disabled input{
    background-color: #f5f5f5 !important;
    cursor: unset;
    
}

.input--disabled input:hover{
    border: 1px solid #afafaf !important;
}

/*==================== Navbar ====================*/
.input--year {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 27px;
    margin-left: 26px;
}

.input--span {
    position: absolute;
    left: 11px;
}

.input--year input {
    width: 112px;
    height: 30px;
    padding-left: 53px;
    background-color: rgba(26, 164, 200, .2);
    outline: none;
    border: unset;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    cursor: pointer;
}

/*==================== Main content ====================*/
.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.input input {
    width: 179px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #afafaf;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: unset;
    padding-left: 38px;
    box-sizing: border-box;
    outline: unset;
}

.input input:hover{
    border-color: #1aa4c8;
}

.input input:focus{
    border-color: #1aa4c8;
}


.input--error input{
    border-color: red;
}

.input--option input{
    width: 219px;
}

.input__font--italic::placeholder{
    font-style: italic;
}

/*==================== Popup ====================*/
.input--popup{
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}

.input--popup input{
    padding-left: 14px;
    padding-right: 8px;
}

.input--popup-width input{
    width: 265px;
}

.input--popup-high-width input{
    width: 546px;
}

.input__text--right input{
    text-align: right;
}

.input__text--right-padding input{
    padding-right: 36px;
}