.tooltip {
    position: relative;
    display: flex;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: auto;
    white-space: nowrap;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border: 1px solid #1aa4c8;
    padding: 4px 2px;
    position: absolute;
    z-index: 1;
    top: 105%;
}

.tooltip--center{
    justify-content: center;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}